@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Noto+Serif+Display:wght@200;400;700&display=swap');
@import './mainContent';
@import './navigation';
@import './missions';

html {
    box-sizing: border-box;
    background-color: #2B5554;
    color: white;
    height: 100%;
    font-size: 10px;

}

body {
    margin: 0;
    height: 100%;

    #people-of-interest-app {
        display: flex;
        margin: 0;
        height: 100%;

    }

}